<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>title</key>
			<string>百年漫画</string>
			<key>prefixUrl</key>
			<string>https://m.bnmanhua.com</string>
			<key>serverId</key>
			<integer>1057</integer>
			<key>headers</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.121 Safari/537.36</string>
			</dict>
			<key>classColumn</key>
			<dict>
				<key>classlist</key>
				<array>
					<dict>
						<key>title</key>
						<string>少年漫画</string>
						<key>url</key>
						<string>https://m.bnmanhua.com/list/1/@-0---time.html</string>
						<key>page</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>少女漫画</string>
						<key>url</key>
						<string>https://m.bnmanhua.com/list/2/@-0---time.html</string>
						<key>page</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>青年漫画</string>
						<key>url</key>
						<string>https://m.bnmanhua.com/list/3/@-0---time.html</string>
						<key>page</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>女性漫画</string>
						<key>url</key>
						<string>https://m.bnmanhua.com/list/4/@-0---time.html</string>
						<key>page</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>prefixUrl</key>
				<string>https://m.bnmanhua.com</string>
				<key>responseHtmlIsYes</key>
				<true/>
				<key>needDeteleString</key>
				<string></string>
				<key>html</key>
				<dict>
					<key>responseUtf8IsYes</key>
					<true/>
					<key>responseReplaceStrArray</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>responseRegex</key>
					<dict>
						<key>responsePageMarkEnd</key>
						<string>&lt;/span&gt;</string>
						<key>responseCutBegin</key>
						<string></string>
						<key>responseCutEnd</key>
						<string></string>
						<key>regex</key>
						<string>&lt;a class=&quot;vbox_t&quot; href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;###        	&lt;mip-img layout=&quot;responsive&quot; width=&quot;260&quot; height=&quot;365&quot; src=&quot;(.*?)&quot; alt=&quot;(.*?)&quot;&gt;&lt;/mip-img&gt;###        	&lt;span&gt;(.*?)&lt;/span&gt;</string>
						<key>name</key>
						<integer>2</integer>
						<key>author</key>
						<integer>5</integer>
						<key>state</key>
						<integer>5</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>3</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>detailUrl</key>
						<integer>1</integer>
						<key>detailPrefixUrl</key>
						<string>https://m.bnmanhua.com</string>
					</dict>
				</dict>
				<key>json</key>
				<dict>
					<key>responseNodeArray</key>
					<array/>
					<key>keys</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateShowStrIsYES</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>replaceImageUrlKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>replaceComicUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>updateColumn</key>
			<dict>
				<key>updateUrl</key>
				<string>https://m.bnmanhua.com/page/new/1.html</string>
				<key>prefixUrl</key>
				<string>https://m.bnmanhua.com</string>
				<key>responseHtmlIsYes</key>
				<true/>
				<key>needDeteleString</key>
				<string></string>
				<key>html</key>
				<dict>
					<key>responseUtf8IsYes</key>
					<true/>
					<key>responseReplaceStrArray</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>responseRegex</key>
					<dict>
						<key>responsePageMarkEnd</key>
						<string>&lt;/span&gt;</string>
						<key>responseCutBegin</key>
						<string></string>
						<key>responseCutEnd</key>
						<string></string>
						<key>regex</key>
						<string>&lt;a class=&quot;vbox_t&quot; href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;###        	&lt;mip-img layout=&quot;responsive&quot; width=&quot;260&quot; height=&quot;365&quot; src=&quot;(.*?)&quot; alt=&quot;(.*?)&quot;&gt;&lt;/mip-img&gt;###        	&lt;span&gt;(.*?)&lt;/span&gt;</string>
						<key>name</key>
						<integer>2</integer>
						<key>author</key>
						<integer>5</integer>
						<key>state</key>
						<integer>5</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>3</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>detailUrl</key>
						<integer>1</integer>
						<key>detailPrefixUrl</key>
						<string>https://m.bnmanhua.com</string>
					</dict>
				</dict>
				<key>json</key>
				<dict>
					<key>responseNodeArray</key>
					<array/>
					<key>keys</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateShowStrIsYES</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>replaceImageUrlKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>replaceComicUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>hotColumn</key>
			<dict>
				<key>hotUrl</key>
				<string>https://m.bnmanhua.com/page/hot/1.html</string>
				<key>prefixUrl</key>
				<string>https://m.bnmanhua.com</string>
				<key>responseHtmlIsYes</key>
				<true/>
				<key>needDeteleString</key>
				<string></string>
				<key>html</key>
				<dict>
					<key>responseUtf8IsYes</key>
					<true/>
					<key>responseReplaceStrArray</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>responseRegex</key>
					<dict>
						<key>responsePageMarkEnd</key>
						<string>&lt;/span&gt;</string>
						<key>responseCutBegin</key>
						<string></string>
						<key>responseCutEnd</key>
						<string></string>
						<key>regex</key>
						<string>&lt;a class=&quot;vbox_t&quot; href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;###        	&lt;mip-img layout=&quot;responsive&quot; width=&quot;260&quot; height=&quot;365&quot; src=&quot;(.*?)&quot; alt=&quot;(.*?)&quot;&gt;&lt;/mip-img&gt;###        	&lt;span&gt;(.*?)&lt;/span&gt;</string>
						<key>name</key>
						<integer>2</integer>
						<key>author</key>
						<integer>5</integer>
						<key>state</key>
						<integer>5</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>3</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>detailUrl</key>
						<integer>1</integer>
						<key>detailPrefixUrl</key>
						<string>https://m.bnmanhua.com</string>
					</dict>
				</dict>
				<key>json</key>
				<dict>
					<key>responseNodeArray</key>
					<array/>
					<key>keys</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateShowStrIsYES</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>replaceImageUrlKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>replaceComicUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>searchColum</key>
			<dict>
				<key>searchPageComicPrefixUrlNextUrl</key>
				<string>https://m.bnmanhua.com/index.php?m=vod-search-pg-$-wd-@.html</string>
				<key>page</key>
				<integer>0</integer>
				<key>prefixUrl</key>
				<string></string>
				<key>responseHtmlIsYes</key>
				<true/>
				<key>searchWordUtf8IsYes</key>
				<true/>
				<key>needDeteleString</key>
				<string></string>
				<key>html</key>
				<dict>
					<key>responseUtf8IsYes</key>
					<false/>
					<key>responseReplaceStrArray</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>responseRegex</key>
					<dict>
						<key>responsePageMarkEnd</key>
						<string></string>
						<key>responseCutBegin</key>
						<string></string>
						<key>responseCutEnd</key>
						<string></string>
						<key>httpGetIsYes</key>
						<string>GET</string>
						<key>params</key>
						<dict/>
						<key>responseRegex</key>
						<dict>
							<key>regex</key>
							<string>&lt;a class=&quot;vbox_t&quot; href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;###        	&lt;mip-img layout=&quot;responsive&quot; width=&quot;260&quot; height=&quot;365&quot; src=&quot;(.*?)&quot; alt=&quot;(.*?)&quot;&gt;&lt;/mip-img&gt;###        	&lt;span&gt;(.*?)&lt;/span&gt;</string>
							<key>name</key>
							<integer>2</integer>
							<key>author</key>
							<integer>0</integer>
							<key>state</key>
							<integer>5</integer>
							<key>coverImageUrl</key>
							<integer>3</integer>
							<key>detailUrl</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>json</key>
				<dict>
					<key>responseNodeArray</key>
					<array/>
					<key>replaceComicUrlKey</key>
					<string></string>
					<key>replaceImageUrlKey</key>
					<string></string>
					<key>searchKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>stateShowStrIsYES</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>autherKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>detailColum</key>
			<dict>
				<key>responseHtmlIsYes</key>
				<true/>
				<key>htmlReplaceResponseHtmlIsYes</key>
				<true/>
				<key>chaptersSortedIsYES</key>
				<false/>
				<key>html</key>
				<dict>
					<key>detailsResponseIsUtf8</key>
					<true/>
					<key>responseReplaceStrArray</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>responseRegex</key>
					<dict>
						<key>authorRegular</key>
						<string>&lt;p class=&quot;dir&quot;&gt;&lt;span&gt;作者：&lt;/span&gt;(.*?)&lt;/p&gt;</string>
						<key>authorIndex</key>
						<integer>1</integer>
						<key>stateRegular</key>
						<string>&lt;span class=&quot;list_item &quot;&gt;(.*?)&lt;/span&gt;</string>
						<key>stateIndex</key>
						<integer>1</integer>
						<key>favStateRegular</key>
						<string>&lt;p class=&quot;act&quot;&gt;&lt;span&gt;更新：&lt;/span&gt;(.*?)&amp;nbsp;&amp;nbsp;/&amp;nbsp;&amp;nbsp;(.*?)&lt;/p&gt;</string>
						<key>favStateIndex</key>
						<integer>2</integer>
						<key>updateDateRegular</key>
						<string>&lt;p class=&quot;act&quot;&gt;&lt;span&gt;更新：&lt;/span&gt;(.*?)&amp;nbsp;&amp;nbsp;/&amp;nbsp;&amp;nbsp;(.*?)&lt;/p&gt;</string>
						<key>updateDateIndex</key>
						<integer>1</integer>
						<key>introRegular</key>
						<string>&lt;meta name=&quot;description&quot; content=&quot;(.*?)&quot;/&gt;</string>
						<key>introIndex</key>
						<integer>1</integer>
						<key>coverImageRegular</key>
						<string>&lt;div class=&quot;img&quot;&gt;&lt;mip-img layout=&quot;responsive&quot; width=&quot;260&quot; height=&quot;365&quot; src=&quot;(.*?)&quot; alt=&quot;(.*?)&quot; popup&gt;&lt;/mip-img&gt;&lt;/div&gt;</string>
						<key>coverImageIndex</key>
						<integer>1</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>chaptersStart</key>
						<string>&lt;ul class=&quot;list_block show&quot;&gt;</string>
						<key>chaptersEnd</key>
						<string></string>
						<key>chaptersRegular</key>
						<string>&lt;li&gt;&lt;a href=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;&lt;/li&gt;</string>
						<key>chapterTitleIndex</key>
						<integer>2</integer>
						<key>chapterUrlIndex</key>
						<integer>1</integer>
					</dict>
				</dict>
				<key>json</key>
				<dict>
					<key>detailsForListIsNeedDataOfOldDic_NeedIsYES_OrIsNO</key>
					<false/>
					<key>detailsComicCoverImageUrlNeedInfoKey_NeedIsYES_OrIsNO</key>
					<true/>
					<key>detailsComponentsSeparatedByStringWithUrl</key>
					<string></string>
					<key>detailsJsonResponse_ObjectForKey_DetailsArray</key>
					<array/>
					<key>detailsJsonResponse_ObjectForKey_ListArray</key>
					<array/>
					<key>detailsInfoKey</key>
					<dict>
						<key>comicPrefixURL_NeedReplaceFormat</key>
						<string></string>
						<key>comicUpdateTimeKey</key>
						<string></string>
						<key>comicUpdateTimeIsNeedInterval</key>
						<false/>
						<key>comicStateKey</key>
						<string></string>
						<key>comicStateWithDicShow_StrIsYES_NumIsNO</key>
						<false/>
						<key>comicStateDicKeyArray</key>
						<array/>
						<key>comicStateArrayNum</key>
						<integer>0</integer>
						<key>comicAutherKey</key>
						<string></string>
						<key>comicAuthorDicKeyArray</key>
						<array/>
						<key>comicAuthorArrayNum</key>
						<integer>0</integer>
						<key>comicIntroKey</key>
						<string></string>
						<key>comicIntroDicKeyArray</key>
						<array/>
						<key>comicIntroArrayNum</key>
						<integer>0</integer>
						<key>comicCoverImageUrl</key>
						<string></string>
						<key>comicCoverImageDicKeyArray</key>
						<array/>
						<key>comicCoverImageArrayNum</key>
						<integer>0</integer>
						<key>comicWithCookie_Regular</key>
						<string></string>
						<key>cookieHeadNum</key>
						<integer>0</integer>
						<key>cookieEndNum</key>
						<integer>0</integer>
					</dict>
					<key>chaptersKey</key>
					<dict>
						<key>chaptersURL_NeedReplaceFormat</key>
						<string></string>
						<key>chaptersObjectForKey_UrlKey</key>
						<string></string>
						<key>chaptersManuallyChooseResources_NeedArrayNum</key>
						<integer>-1</integer>
						<key>chaptersNewComicResources_ObjectForKey_ListArray</key>
						<array/>
						<key>chaptersShowDictHaveArrayTotalNumber_Key</key>
						<string></string>
						<key>subOneListURL</key>
						<string></string>
						<key>chaptersTitleKey</key>
						<string></string>
						<key>chaptersUrlKey</key>
						<string></string>
						<key>chaptersNextUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>contentColum</key>
			<dict>
				<key>responseHtmlIsYes</key>
				<true/>
				<key>downloadIsUseOnlineBrowserOrOnlineDLbrowser</key>
				<true/>
				<key>downloadUrlListStringFotmatIsReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadPrefixUrlIsNeedReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadUrlWithJavaScript_Dict</key>
				<dict>
					<key>javaScriptSoundCode</key>
					<string>document.documentElement.innerHTML</string>
					<key>javaScriptUrlModelRegular</key>
					<string></string>
					<key>javaScriptUrlModelRegexNum</key>
					<string></string>
					<key>javaScriptUrlCountRegular</key>
					<string></string>
					<key>javaScriptUrlCountRegexNum</key>
					<string></string>
					<key>javaScriptUrlModelExist_Path</key>
					<string></string>
					<key>javaScriptUrlModelExist_PathRegluar</key>
					<string></string>
					<key>javaScripSeparateString</key>
					<string></string>
					<key>javaScriptUrlModelNotExist_Urls</key>
					<string></string>
					<key>javaScriptUrlReplaceStr</key>
					<string></string>
					<key>javaScriptImageUrl</key>
					<string>z_img.substring(2,z_img.length-2).toString()</string>
					<key>javaScriptSqlitString</key>
					<string>&quot;,&quot;</string>
					<key>javaScriptSeverHead</key>
					<string>z_yurl</string>
					<key>javaScriptComicUrlNeedReplaceStr</key>
					<string></string>
				</dict>
				<key>downloadUrlList</key>
				<array/>
				<key>html</key>
				<dict>
					<key>downloadImageUrlNeedConvert_DelLastStrNum</key>
					<integer>1</integer>
					<key>downloadImageHostRefererSplicingFormat</key>
					<string>f=http://comic.sfacg.com/</string>
					<key>downloadImageUrlNeedConvert_AppendingStr</key>
					<string>-p#/</string>
					<key>downloadImageUrlBeginForm_0Or1</key>
					<integer>0</integer>
					<key>downloadEstablishDiction_InitialUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/38.0.2125.104 Safari/537.36</string>
					</dict>
					<key>downloadEstablishDiction_AmendUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (iPhone; CPU iPhone OS 10_10 like Mac OS X) AppleWebKit/600.1.4 (KHTML, like Gecko) Mobile/12B411</string>
					</dict>
					<key>downloadWebPageSourceReplaceStr_Array</key>
					<array/>
					<key>downloadSelectOfMethod_Arr</key>
					<array>
						<string>8</string>
						<string>9</string>
						<string>10</string>
					</array>
				</dict>
				<key>json</key>
				<dict>
					<key>downloadAnalysisJsonNeed_SBJSONIsYES_NSJSONSerializationIsNO</key>
					<false/>
					<key>downloadUrlStringWithPrefixUrl</key>
					<string></string>
					<key>downloadInfoObjectForKey_KeysArray</key>
					<array/>
					<key>downloadWebPageSourceKey</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
